# LENDING LOAN CASE STUDY

### Import libraries

In [1]:
import pandas as pd

### Reading data

In [4]:
loanDf = pd.read_csv("loan/loan.csv",index_col=0)

C:\Users\asthaagarwal\AppData\Local\Temp\ipykernel_60768\4194240325.py:1: DtypeWarning: Columns (47) have mixed types. Specify dtype option on import or set low_memory=False.
  loanDf = pd.read_csv("loan/loan.csv",index_col=0)

In [11]:
print(loanDf.head())

         member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
id
1077501    1296599       5000         5000           4975.0   36 months
1077430    1314167       2500         2500           2500.0   60 months
1077175    1313524       2400         2400           2400.0   36 months
1076863    1277178      10000        10000          10000.0   36 months
1075358    1311748       3000         3000           3000.0   60 months

        int_rate  installment grade sub_grade                 emp_title  ...  \
id                                                                       ...
1077501   10.65%       162.87     B        B2                       NaN  ...
1077430   15.27%        59.83     C        C4                     Ryder  ...
1077175   15.96%        84.33     C        C5                       NaN  ...
1076863   13.49%       339.31     C        C1       AIR RESOURCES BOARD  ...
1075358   12.69%        67.79     B        B5  University Medical Group  ...

        num_tl_90g_dpd_24m num_tl_op_past_12m  pct_tl_nvr_dlq  \
id
1077501                NaN                NaN             NaN
1077430                NaN                NaN             NaN
1077175                NaN                NaN             NaN
1076863                NaN                NaN             NaN
1075358                NaN                NaN             NaN

        percent_bc_gt_75 pub_rec_bankruptcies tax_liens tot_hi_cred_lim  \
id
1077501              NaN                  0.0       0.0             NaN
1077430              NaN                  0.0       0.0             NaN
1077175              NaN                  0.0       0.0             NaN
1076863              NaN                  0.0       0.0             NaN
1075358              NaN                  0.0       0.0             NaN

        total_bal_ex_mort total_bc_limit total_il_high_credit_limit
id
1077501               NaN            NaN                        NaN
1077430               NaN            NaN                        NaN
1077175               NaN            NaN                        NaN
1076863               NaN            NaN                        NaN
1075358               NaN            NaN                        NaN

[5 rows x 110 columns]

In [10]:
loanDf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39717 entries, 1077501 to 87023
Columns: 110 entries, member_id to total_il_high_credit_limit
dtypes: float64(74), int64(12), object(24)
memory usage: 33.6+ MB